# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

#Used to compare with foundry, but not distributable
en.json

#Used for tools that I don't want to add to project
node_modules
package.json
package-lock.json
*.js
*.mjs